// Here you can add other styles

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: $default_font_size !important;
}

a {
    color: #004660;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}